<div class="">
  @for (item of mantenimiento; track item; let  i = $index) {
    <div class="col-xl col-sm-12">
      <label for="exampleInputEmail1">
        {{ 'pages-mantenimiento.Label.descripcion' | translate}}
      </label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{item.descripcion}}" readonly>
    </div>
    <div class="col-xl col-sm-12">
      <label for="exampleInputEmail1">
        {{ 'pages-mantenimiento.Label.serial' | translate}}
      </label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{item.serial}}" readonly>
    </div>
    <div class="col-sm-12 form-group">
      <label for="exampleInputEmail1">
        {{ 'pages-mantenimiento.Label.estado' | translate}}
      </label>
      <select class="form-control" [(ngModel)]="item.estado">
        <option value="">Seleccione</option>
        <option value="EnEspera">En espera</option>
        <option value="Iniciado">Iniciado</option>
        <option value="Pausado">Pausado</option>
        <option value="Finalizado">Finalizado</option>
      </select>
    </div> 
  }

  <div class="col-sm-12 row p-0">
    <div class="col-sm-12">
      <button class="btn btn-sm btn-primary btnAction d-none" (click)="actualizarOrden()">
        {{ 'pages-mantenimiento.Buttons.createOrder' | translate}}
      </button>
    </div>
  </div>
</div>