<div class="">
  <div class="col-xl-12 col-sm-12 row">
    <div class="col-xl col-sm-12">
      <div class="col-sm-12 row p-0">
        <div class="row">
          <label for="exampleInputEmail1">
            {{ 'pages-proveedor.Label.name' | translate}}
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.razonSocial" aria-describedby="emailHelp" placeholder="{{ 'pages-proveedor.Placeholder.name' | translate}}">
          <!-- <small id="emailHelp" class="form-text text-muted">{{ 'pages-proveedor.Error.firstName' | translate}}</small> -->
        </div>
        <div class="row">
          <label for="exampleInputEmail1">
            {{ 'pages-proveedor.Label.phone' | translate}}
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.telefono" aria-describedby="emailHelp" placeholder="{{ 'pages-proveedor.Placeholder.phone' | translate}}">
          <!-- <small id="emailHelp" class="form-text text-muted">{{ 'pages-proveedor.Error.phone' | translate}}</small> -->
        </div>
        <div class="row">
          <label for="exampleInputEmail1">
            {{ 'pages-proveedor.Label.email' | translate}}
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.email" aria-describedby="emailHelp" placeholder="{{ 'pages-proveedor.Placeholder.email' | translate}}">
          <!-- <small id="emailHelp" class="form-text text-muted">{{ 'pages-proveedor.Error.email' | translate}}</small> -->
        </div>
        <div class="row">
          <label for="exampleInputEmail1">
            {{ 'pages-proveedor.Label.status' | translate}}
          </label>
          <select [(ngModel)]="model.estado" class="form-control">
            <option value="">Seleccione</option>
            <option [ngValue]="'true'">
              {{ 'pages-proveedor.Placeholder.isActive' | translate}}
            </option>
            <option [ngValue]="'false'">
              {{ 'pages-proveedor.Placeholder.isInactive' | translate}}
            </option>
          </select>
          <!-- <small id="emailHelp" class="form-text text-muted">{{ 'pages-proveedor.Error.status' | translate}}</small> -->
        </div>
        <div class="row">
          <label for="exampleInputEmail1">
            {{ 'pages-proveedor.Label.nit' | translate}}
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.nit" aria-describedby="emailHelp" placeholder="{{ 'pages-proveedor.Placeholder.nit' | translate}}">
          <!-- <small id="emailHelp" class="form-text text-muted">{{ 'pages-proveedor.Error.nit' | translate}}</small> -->
        </div>
      </div>
      <div class="col-sm-12 row p-0">
        <div class="col-sm-12">
          <button class="btn btn-sm btn-primary btnAction d-none" (click)="crearProveedor()">
            {{ 'pages-proveedor.Buttons.createUser' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
