<div class="">
    <div class="col-xl-12 col-sm-12 row">
      <div class="col-xl col-sm-12">
        <div class="col-sm-12 row p-0">
          <div class="row">
            <label for="exampleInputEmail1">
              {{ 'pages-zonaComun.Label.name' | translate}}
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.nombre" aria-describedby="emailHelp" placeholder="{{ 'pages-zonaComun.Placeholder.name' | translate}}">
            <!-- <small id="emailHelp" class="form-text text-muted">{{ 'pages-usuarios.Error.firstName' | translate}}</small> -->
          </div>
          <div class="row">
            <label for="exampleInputEmail1">
              {{ 'pages-zonaComun.Label.description' | translate}}
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.descripcion" aria-describedby="emailHelp" placeholder="{{ 'pages-zonaComun.Placeholder.description' | translate}}">
            <!-- <small id="emailHelp" class="form-text text-muted">{{ 'pages-usuarios.Error.firstName' | translate}}</small> -->
          </div>
          <div class="row">
            <label for="exampleInputEmail1">
              {{ 'pages-zonaComun.Label.location' | translate}}
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.ubicacion" aria-describedby="emailHelp" placeholder="{{ 'pages-zonaComun.Placeholder.location' | translate}}">
            <!-- <small id="emailHelp" class="form-text text-muted">{{ 'pages-usuarios.Error.firstName' | translate}}</small> -->
          </div>
        </div>
        <div class="col-sm-12 row p-0">
          <div class="col-sm-12">
            <button class="btn btn-sm btn-primary btnAction d-none" (click)="crearZonaSocial()">
              {{ 'pages-usuarios.Buttons.createUser' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  