<div class="">
    <div class="col-xl col-sm-12 card">
        <div class="row">
            <input type="text" class="d-none complementoRuta" value="">
            <div class="col-sm-3">
                <label for="exampleInputEmail1">
                    {{ 'pages-mantenimiento.Label.zona' | translate}}
                </label>
                <select [(ngModel)]="model.zona_id" class="form-control">
                    <option value="">Seleccione</option>
                    @for (zona of zona; track zona.id) {
                        <option [ngValue]="zona.id">
                        {{ zona.nombre }} - {{ zona.descripcion }}
                        </option>
                    }
                </select>
                <small id="emailHelp" class="form-text text-muted">{{ 'pages-mantenimiento.Error.zona' | translate}}</small>
            </div>
            <div class="col-sm-3">
                <label for="exampleInputEmail1">
                    {{ 'pages-mantenimiento.Label.ordernumber' | translate}}
                </label>
                <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.serial" aria-describedby="emailHelp" placeholder="{{ 'pages-mantenimiento.Placeholder.ordernumber' | translate}}">
                <small id="emailHelp" class="form-text text-muted">{{ 'pages-mantenimiento.Error.ordernumber' | translate}}</small>
            </div>
            <div class="col-sm-6">
                <label for="exampleInputEmail1">
                    {{ 'pages-mantenimiento.Label.estado' | translate}}
                </label>
                <select class="form-control" [(ngModel)]="model.estado">
                    <option value="">Seleccione</option>
                    <option value="EnEspera">En espera</option>
                    <option value="Iniciado">Iniciado</option>
                    <option value="Pausado">Pausado</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
                <small id="emailHelp" class="form-text text-muted">{{ 'pages-mantenimiento.Error.estado' | translate}}</small>
            </div>
            <div class="col-sm-6 row">
                <label for="exampleInputEmail1">
                    {{ 'pages-mantenimiento.Label.maintenanceDate' | translate}}
                </label>
                <div class="col-sm-12">
                    <input type="date" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.fecha_mantenimiento_inicio" aria-describedby="emailHelp" placeholder="{{ 'pages-mantenimiento.Placeholder.maintenanceDate' | translate}}">
                    <small id="emailHelp" class="form-text text-muted">{{ 'pages-mantenimiento.Error.maintenanceDate' | translate}}</small>
                </div>
                <div class="col-sm-12">
                    <input type="date" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.fecha_mantenimiento_fin" aria-describedby="emailHelp" placeholder="{{ 'pages-mantenimiento.Placeholder.maintenanceDate' | translate}}">
                    <small id="emailHelp" class="form-text text-muted">{{ 'pages-mantenimiento.Error.maintenanceDate' | translate}}</small>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="exampleInputEmail1">
                    {{ 'pages-mantenimiento.Label.crateDate' | translate}}
                </label>
                <input type="date" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.fecha_creacion" aria-describedby="emailHelp" placeholder="{{ 'pages-mantenimiento.Placeholder.crateDate' | translate}}">
                <small id="emailHelp" class="form-text text-muted">{{ 'pages-mantenimiento.Error.crateDate' | translate}}</small>
            </div>
            <button class="d-none limpiar" (click)="limpiar()"></button>
            <button class="d-none filtrar" (click)="filtrar()"></button>
        </div>
    </div>
</div>