<div class="popover-container">
  <button class="floating-button btn-sm btn btn-primary" id="miBotonF" componentef="" (click)="openFilter()">
    <i [ngClass]="icon"></i>
    <div class="popover-content" [ngClass]="{'show': isFilterVisible}" (click)="$event.stopPropagation()">
      <h3 class="text-bg-primary">
        {{ 'global-search.Title.ComponentName' | translate}}
      </h3>
      <div #contenedorFilter></div>
      <button (click)="$event.stopPropagation(); limpiar()" class="btn-secondary btn btn-sm mt-2">
        {{ 'global-search.Buttons.Clear' | translate}}
      </button>
      <button (click)="$event.stopPropagation(); filtrar()" class="btn-primary btn btn-sm mt-2 mx-sm-2">
        {{ 'global-search.Buttons.Filter' | translate}}
      </button>
    </div>
  </button>
</div>