<div class="">
  <div class="col-xl-12 col-sm-12 row">
    <div class="col-xl col-sm-12">
      <div class="col-sm-12 row p-0">
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'pages-mantenimiento.Label.descripcion' | translate}}
          </label>
          <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.descripcion"
            aria-describedby="emailHelp" placeholder="{{ 'pages-mantenimiento.Placeholder.descripcion' | translate}}">
          <!-- <small id="emailHelp" class="form-text text-muted">{{ 'pages-mantenimiento.Error.Descripcion' | translate}}</small> -->
        </div>
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'pages-mantenimiento.Label.maintenanceDate' | translate}}
          </label>
          <input type="date" class="form-control" id="exampleInputEmail1" [(ngModel)]="model.fecha_mantenimiento"
            aria-describedby="emailHelp"
            placeholder="{{ 'pages-mantenimiento.Placeholder.maintenanceDate' | translate}}">
          <!-- <small id="emailHelp" class="form-text text-muted">{{ 'pages-mantenimiento.Error.MaintenanceDate' | translate}}</small> -->
        </div>  
        <div class="col-sm-12 form-group">
          <label for="exampleInputEmail1">
            {{ 'pages-mantenimiento.Label.zona' | translate}}
          </label>
          <select [(ngModel)]="model.zona_id" class="form-control">
            @for (zona of zona; track zona.id) {
              <option [ngValue]="zona.id">
                {{ zona.nombre }} - {{ zona.descripcion }}
              </option>
            }
          </select>
        </div> 
      </div>
    </div>
  </div>
  <div class="col-sm-12 row p-0">
    <div class="col-sm-12">
      <button class="btn btn-sm btn-primary btnAction d-none" (click)="crearOrden()">
        {{ 'pages-mantenimiento.Buttons.createOrder' | translate}}
      </button>
    </div>
  </div>
</div>