<div class="">

  <h1>{{ 'pages-usuarios.Title.PermissionsTitle' | translate}}</h1>

  <div class="p-5">
    <div class="parent">
      @for (modulos of permisos; track $index) {
        @if (!sinModulo.includes(modulos.mpm_permiso) ) {
          <div class="card">
            <div class="card-header text-center">
                @if(modulos.asignado == "1"){
                  <input class="form-check-input" (click)="actualizarPermiso(modulos)" type="checkbox" checked>
                }@else{
                  <input class="form-check-input" (click)="actualizarPermiso(modulos)" type="checkbox">
                }
                <a class="btn btn-link collapsed text-left p-0" (click)="toggleCollapse(modulos.mpm_permiso, modulos.mpm_toogle)" style="text-decoration: none">
                  {{modulos.mpm_nombre}} 
                  <i class="form-text fa fa-info-circle" :title="{{modulos.mpm_descripcion}}"></i>
                </a>
            </div>
          </div>
          <div *ngIf="modulos.mpm_toogle">
            <div class="item">
              @for (subModulos of modulos.children; track $index) {
                <div class="card">
                  <div class="card-header text-center">
                    @if(subModulos.asignado == "1"){
                      <input class="form-check-input" type="checkbox" (click)="actualizarPermiso(subModulos)" checked>
                    }@else{
                      <input class="form-check-input" type="checkbox" (click)="actualizarPermiso(subModulos)">
                    }
                    {{subModulos.mpm_nombre}}
                    <i class="form-text fa fa-info-circle" style="cursor: pointer;" :title="{{subModulos.mpm_descripcion}}"></i><br>
                  </div>
                  <div class="card-body pl-5">
                    @for (acciones of subModulos.children; track $index) {
                      @if(acciones.asignado == "1"){
                        <input class="form-check-input" type="checkbox" (click)="actualizarPermiso(acciones)" checked>
                      }@else{
                        <input class="form-check-input" type="checkbox" (click)="actualizarPermiso(acciones)">
                      }
                      {{acciones.mpm_nombre}}  
                      <i class="form-text fa fa-info-circle" style="cursor: pointer;" :title="{{acciones.mpm_descripcion}}"></i><br>
                    }
                  </div>
                </div>
              }
            </div>
          </div>
          <br>
        } @else {
          <div class="card">
            <div class="card-header text-center">
              @if(modulos.asignado == "1"){
                <input class="form-check-input" (click)="actualizarPermiso(modulos)" type="checkbox" checked>
              }@else{
                <input class="form-check-input" (click)="actualizarPermiso(modulos)" type="checkbox">
              }
              <a class="btn btn-link collapsed text-left p-0" (click)="toggleCollapse(modulos.mpm_permiso, modulos.mpm_toogle)" style="text-decoration: none">
                {{modulos.mpm_nombre}}
                <i class="form-text fa fa-info-circle" style="cursor: pointer;" :title="{{modulos.mpm_descripcion}}"></i><br>
              </a>
            </div>
          </div>
          <div *ngIf="modulos.mpm_toogle">
            <div class="item">
              <div class="card">
                <div class="card-body pl-5">
                  @for (subModulos of modulos.children; track $index) {
                    @if(subModulos.asignado == "1"){
                      <input class="form-check-input" (click)="actualizarPermiso(subModulos)" type="checkbox" checked>
                    }@else{
                      <input class="form-check-input" (click)="actualizarPermiso(subModulos)" type="checkbox">
                    }
                    {{subModulos.mpm_permiso}}
                    <i class="form-text fa fa-info-circle" :title="{{subModulos.mpm_descripcion}}"></i><br>
                  }
                </div>
              </div>
            </div>
          </div>
          <br>
        }
      }
    </div>
  </div>

</div>

